:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #1D5BE1;
  --white: #fff;
  --maxWidth: 700px;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: 'Avenir Next Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.page-container {
  animation: fade-in 0.25s ease-out;
  margin: 0 auto;
  max-width: 56em;
}

h1, h2, h3, strong {
  font-family: Avenir Next Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1.home a {
  font-family: 'Avenir Next Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a {
  color: #1D5BE1;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 81, 255) !important;
}
a:visited {
  color: rgb(88, 141, 255);
}
main {
  padding: 51px 1rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 20px;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}
.home a {
  color: #333;
}

/* Nav */
.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  padding: 20px 0;
  list-style: none;
  float: right;
  margin-left: 1em;
}
@media only screen and (max-width: 560px) {
  .nav {
    display: none;
  }
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list (on home and archive pages) */
.postlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.postlist-item {
  height: 240px;
  width: calc(50% - .5rem);
  flex-shrink: 0;
  margin: .5rem 0;
}
@media only screen and (max-width: 500px) {
  .postlist-item {
    width: 100%;
  }
}
.postlist-item .postlist-link {
  display: flex;
}

.postlist-item a {
  display: flex;
  align-items: center;
}

.postlist-item img {
  animation: slide-up 1.5s cubic-bezier(0,1,.4,1);
  max-width: 100%;
}

.postlist-item .text {
  animation: slide-up 2s cubic-bezier(0,1,.4,1);
  padding: 1rem;
}

/* Post postlist - on posts */
.post-footerlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Featured item on home page */
.home-content {
  padding: 1rem 0;
}

.featured-item {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .featured-item {
    display: block;
  }
}

.featured-item h2 {
  animation: slide-up 0.75s cubic-bezier(0,1,.4,1);
  font-size: 36px;
  line-height: 42px;
}

.featured-item .postlist-image {
  animation: slide-up 1.25s cubic-bezier(0,1,.4,1);
  display: block;
  height: 250px;
  width: 50%;
}
@media only screen and (max-width: 500px) {
  .featured-item .postlist-image {
    display: inline;
  }
}

.featured-item a.postlist-image img {
  max-width: 100%;
}
@media only screen and (max-width: 500px) {
  .featured-item a.postlist-image img {
    max-height: 100%;
  }
}

.featured-item .text {
  animation: slide-up 1.5s cubic-bezier(0,1,.4,1);
  font-size: 22px;
  position: relative;
  padding: 1rem;
}
@media only screen and (max-width: 500px) {
  .featured-item .text {
    font-size: 18px;
    padding: 0.5rem;
  }
  .featured-item .text h2 {
    margin-top: 0;
  }
}

.featured-item .text p {
  margin: 0;
}

.post-footerlist .postlist-item {
  width: 50%;
}

@media only screen and (max-width: 500px) {
  .post-footerlist .postlist-item {
    width: 100%
  }
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Post styles */

.post-wrapper {
  max-width: var(--maxWidth);
  margin: 0 auto;
  z-index: 0;
}

.header .image {
  height: 200px;
  max-height: 50px;
  opacity: 0.1;
  pointer-events: none;
}

.header .image img {
  margin-top: -30%;
}

.post-content {
  animation: slide-up 1.4s cubic-bezier(0,1,.4,1);
  padding-top: 1rem;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 500px) {
  .post-content {
    padding-top: 180px;
  }
}

.post-title {
  animation: slide-up 1s cubic-bezier(0,1,.4,1);
  font-size: 48px;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .post-title {
    font-size: 32px;
  }
}

.product {
  display: flex;
}

.product-image {
  flex-shrink: 0;
  margin-right: 1rem;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .product-image {
    width: 100px;
  }
}

.product-image img {
  max-width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  margin: 1rem;
}

.product-item img {
  height: 140px;
  max-width: 100%;
}

/* Footer */

footer {
  padding: 1rem 0 4rem;
  text-align: center;
}

/* Sharing icons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.sharing {
  margin: 1rem 0;
  display: flex;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5rem
}

@media only screen and (max-width: 500px) {
  .resp-sharing-button__link {
    margin: 0.4rem
  }
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Avenir Next Regular, Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
  color: #fff;
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.direct-link {
  opacity: 0;
  position: absolute;
  left: -23px;
  padding-right: 23px;
  transition: opacity 0.3s ease-out;
}

h1:hover .direct-link, h2:hover .direct-link, h3:hover .direct-link, h4:hover .direct-link {
  opacity: 0.5;
}

.direct-link:hover {
  opacity: 1;
}

/* Fonts */

/*@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=b18b286e-c3ca-4571-bad1-73fd6e67b6a6");*/

@font-face{
    font-family:"Avenir Next Regular";
    src:url("/css/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("/css/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
}

@font-face{
    font-family:"Avenir Next Italic";
    src:url("/css/fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("/css/fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
}

@font-face{
    font-family:"Avenir Next Bold";
    src:url("/css/fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("/css/fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
}

/* Animations */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(30px);
  }
  to {
    translate: none;
  }
}