@import compass/utilities
@import compass 
@import compass/css3
@import mixins
@import pygments
@import media-queries

/* Colours
$font-color: #2c3437
$footer-font-color: #fff
$background-color: #f6f6f6
$link-color: #fc7404
$link-color-visited: #fc7404
$hover-color: #bf4303
$code_bg_color: #ffffff
$border-color: #ffffff

/* Shadow defaults
$default-text-shadow-color: #fff
$default-text-shadow-h-offset: 0
$default-text-shadow-v-offset: -1px
$default-text-shadow-blur: 0

/* Bootstrap overrides
$font-size-base: 18px
@import vendor/bootstrap

/* Seasonal Themes
/*@import themes/halloween
@import themes/christmas