@import base

*
  /* Some font love
  -webkit-font-smoothing: antialiased

html
  color: $font-color
  
body
  font-family: 'Source Sans Pro', Arial, sans-serif
  background: $background-color url(/images/bg/geometry.png) fixed


/* Headings



/* Links

a
  color: $link-color
  font-weight: 700
  text-decoration: none
  @include transition(color 0.2s ease-out)
  
  &:visited, &:active
    color: $link-color-visited
  
  &:hover
    color: $hover-color
    text-decoration: none
    @include transition(color 0.1s ease-out)

acronym
  border-bottom: 1px dashed $font-color

  &:hover
    cursor: help

/* Forms

input
  background-color: #fff
  @include adjust-font-size-to(16px)
  @include border-radius(5px)
  padding: 4px 14px
  display: inline-block
  border: 2px solid #ddd

/* Images

img.bordered
  border: 2px solid $border-color
  @include border-radius(5px)

img.centered
  display: block
  margin: auto

img.left
  float: left
  margin: 10px 20px 10px 0 

img
  max-width: 100%

blockquote
  clear: both

/* Page structure

.main-header
  margin: 0
  background-attachment: fixed
  background-size: 100%
  border-bottom: 0
  height: 160px
  position: relative
  border-bottom: 5px solid #333

  h1 a
    color: #f6f6f6
    +text-shadow(0 0 5px rgba(50,50,50,0.5))
    background: #333
    padding: 10px
    position: absolute
    bottom: 0

  form
    position: absolute
    top: 32px
    right: 0

+max-screen(760px)
  h1
    font-size: 30px
  h2
    font-size: 26px
  h3
    font-size: 22px
  .main-header
    height: 100px
    background-size: 150%

+max-screen(320px)
  h1
    font-size: 24px
  h2
    font-size: 22px
  h3
    font-size: 20px

aside.sidebar
  img.shopireland
    margin: 36px 0 10px

  ul
    list-style: none
    padding: 10px 10px

.container.content
  min-height: 600px

  article
    margin: 36px 0 12px
    background: #fff
    background: rgba(255,255,255,1)
    padding: 22px 22px 12px
    border: 2px solid #eee

    img.headline
      display: block
      float: left
      margin: 0 22px 0 0

    .entry img, .shortened-image 
      width: 110%
      max-width: calc(100% + 44px)
      width: calc(100% + 44px)
      margin: 22px 0 22px -22px
      border-top: 2px solid #eee
      border-bottom: 2px solid #eee

      &.left
        width: auto
        margin: 0 20px 10px
        border: none

    .shortened-image 
      height: 220px
      overflow: hidden
      background-position: center
      background-size: 100% auto
      margin-top: 44px

    h1
      margin-top: 0

    p.date
      color: #888

+max-screen(320px)

  .container.content 
    article
      margin: 10px 0
      .entry img.left
        max-width: 50%
        margin: 0 10px 10px

  .article-signoff
    text-align: center
    padding: 22px
    background: #333
    color: #fff
    margin: 36px -22px 36px -22px

    h3
      padding: 0
      margin: 0

    a
      color: #fff
      text-decoration: underline

+max-screen(480px)
  img.headline
    width: 100px
    height: 100px

footer
  width: 100%
  background: #333
  padding: 40px 0
  color: #f9f9f9

div#at4-share
  margin-top: 40px !important

