@import base

*
  /* Some font love
  -webkit-font-smoothing: antialiased

html
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif
  color: $font-color
  
body
  background: $font-color 


/* Headings

h1
  @include adjust-font-size-to(60px)
  text-transform: uppercase

h1, h2, h3
  font-family: 'Roboto Condensed', Georgia, Serif

/* Links

a
  color: $link-color
  text-decoration: none
  font-weight: bold
  @include transition(color 0.2s ease-out)
  
  &:visited, &:active
    color: $link-color-visited
  
  &:hover
    color: $hover-color
    @include transition(color 0.1s ease-out)

acronym
  border-bottom: 1px dashed $font-color

  &:hover
    cursor: help

input
  background-color: #fff
  @include adjust-font-size-to(16px)
  @include border-radius(5px)
  padding: 4px 14px
  display: inline-block
  border: 2px solid #ddd

img.bordered
  border: 2px solid $border-color
  @include border-radius(5px)

img.centered
  display: block
  margin: auto

img.left
  float: left
  margin: 10px 20px 10px 0 

/* Page structure

@import mediaqueries