<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} blog.shopireland.ie</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Shopping in Ireland with Amazon Ireland{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="canonical" href="{{ page.url | canonical }}">
    <meta name="google-site-verification" content="4b2gG2_kr5STLh0RhE34iPvU59o591CoG9N6iYOazvw" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    <script src="/javascripts/modernizr.js"></script>
</head>
<body class="{% if page.bodyTag %}{{page.bodyTag}}{% else %}internal{% endif %}">
  <header class="page-header main-header">
    <div class="container">
      <h1><a href="/">Shop Ireland News</a></h1>
    </div>
  </header>
  <div class="container content">
    <section class="row">
      <section class="col-md-8">
        {{ content }}
      </section>
      <aside class="col-md-4 sidebar">
        <a href="http://www.shopireland.ie"><img class="shopireland" src="/images/shopireland.png" alt="Shop Amazon in Ireland" /></a>
        <form method="post" action="http://www.shopireland.ie/search/">
          <input type="hidden" name="section" value="home">
          <input type="text" name="input_string" placeholder="Search ShopIreland.ie" />
          <input type="submit" value="Search" />
        </form>
        <ul>
          <li><a href="http://www.shopireland.ie/books/">Books</a></li>
          <li><a href="http://www.shopireland.ie/music/">Music</a></li>
          <li><a href="http://www.shopireland.ie/dvd/">DVD</a></li>
          <li><a href="http://www.shopireland.ie/electronics/">Electronics</a></li>
          <li><a href="http://www.shopireland.ie/games/">PC &amp; Video Games</a></li>
          <li><a href="http://www.shopireland.ie/toys/">Toys &amp; That</a></li>
          <li><a href="http://www.shopireland.ie/kitchen/">Kitchen &amp; Home</a></li>
          <li><a href="http://www.shopireland.ie/software/">Software</a></li>
          <li><a href="http://www.shopireland.ie/sports/">Sports &amp; Leisure</a></li>
          <li><a href="http://www.shopireland.ie/beauty/">Health &amp; Beauty</a></li>
        </ul>
        <section class="popular-posts">

        </section>
      </aside>
    </section>
  </div>

  <footer>
    <section class="container">
      <p>You're reading stuff written by the team at <a href="http://www.shopireland.ie">Shop Ireland</a>.</p>
      <p>You should follow us on Twitter <a href="http://twitter.com/shopirel">here</a>.</p>
      <p>An <a href="/feed.xml">RSS</a> feed is also available. Enjoy!</p>
      <p>&copy; <a href="http://shopireland.ie">ShopIreland.ie</a></p>
      <p>Based on a template by <a href="http://hop.ie/blog/blog-in-a-day-1">Donovan</a>.</p>
    </section>
  </footer>

  <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
  <script src="/javascripts/main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3481417-28', 'shopireland.ie');
    ga('send', 'pageview');

  </script>
  <!-- AddThis Smart Layers BEGIN -->
  <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52518b4f5c09ca29"></script>
  <script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 3
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'shopireland'},
        {'service': 'twitter', 'id': 'shopirel'}
      ]
    },  
    'whatsnext' : {},  
    'recommended' : {
      'title': 'Don\'t miss:'
    }
    
  });
  </script>
  <!-- AddThis Smart Layers END -->
</body>
</html>
